
.post-img {
    height: 405px;
    overflow: hidden;
    
}

.post-img img{
    width: 100%;
    background-color: coral;
}

.blog-post-content h1{
    padding: 20px;
    text-align: center;
}

.blog-post-content p{
    font-size: 18px;
    padding: 20px;
}

.row{
    display: flex;
  
}
.more-post{

    text-align: center;
    flex-direction: column;
}

.home-article-content{
    text-align: center;
    padding: 25px;
    width: 300px;
}

.blogpost-meta{

    display: flex;
    justify-content: space-between;
}
.author-info{
    margin: 12px 0px;
}
.author-info div{
    padding: 4px 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.social{
    padding-right: 50px;
    align-self: center;
    cursor: pointer;
}